services:
  - type: web
    name: iidm-whatsapp
    env: python

    buildCommand: |
      ./render-build.sh
      pip install -r requirements.txt

    startCommand: |
      gunicorn bulk_whatsapp.wsgi:application --timeout 120 --workers 3

    envVars:
      - key: SECRET_KEY
        sync: false
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        value: iidm-whatsapp.onrender.com,localhost

      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 3306
